
// for dev environment only
// $fa-font-path: '/bower_components/font-awesome/fonts';

// bower:scss
// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// Variables
$instructionsWidth: 150px;
$instructionsHeight: $instructionsWidth / 1.618;
$instructionsPadding: 15px;
$iconSize: 20px;
$dred-green: #3a9f9d;
$gutter-images: 10px;
$desktop-widget-width: 300px;
$fade-width: 0.2 * $desktop-widget-width;

.container {
  @media (max-width: 768px) {
    max-width: 500px;
  }

  max-width: 750px;
  position: relative;
}

.zoomWindowContainer > div {
  border-width: 0px!important;
}

.img-container {
  position: relative;
  overflow: auto;
  width: $desktop-widget-width;
  margin-bottom: $gutter-images;

  @media (max-width: 768px) {
    width: 100%;
  }
  img {
    width: 100%;
    max-width: none;
  }
  .instructions {

    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    width: $instructionsWidth;
    height: $instructionsHeight;
    margin-top: - $instructionsHeight / 2;
    margin-left: - $instructionsWidth / 2;
    padding: $instructionsPadding;
    font: 13px sans-serif;
    color: white;
    border-radius: 8px;
    background-color: rgba(1,1,1,.33);
    pointer-events: none;

    .text {
      display: table-cell;
      padding-left: $instructionsPadding + $iconSize;
      font-size: 16px;
      vertical-align: middle;
    }

    i {

      position: absolute;
      top: 50%;
      left: instructionsPadding;
      margin-top: - $iconSize / 2;
      font-size: $iconSize;
    }
  }
}

.thumbnail-fade {
  height: 80px;
  width: $fade-width;
  position: absolute;
  z-index: 1;
  pointer-events: none;

  &.left {
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    left: floor($grid-gutter-width / 2);
  }
  &.right {
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    left: floor($grid-gutter-width / 2) + $desktop-widget-width - $fade-width;
  }
}

.thumbnail-list {
  overflow-x: scroll;
  overflow-y: hidden;
  width: $desktop-widget-width;
  white-space: nowrap;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
  }

  .thumbnail-container {
    display: inline-block;
    width: 100px;
    vertical-align: top;

    + .thumbnail-container {
      margin-left: $gutter-images;
    }

    .thumbnail {
      margin-bottom: 0;
      border-radius: 0;
      &.active, &:hover {
        border-color: $dred-green;
      }
    }
  }

}
